@import '~bulma/sass/utilities/all';
@import '~bulma/sass/base/all';
@import '~bulma/sass/components/navbar';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/grid/columns';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/elements/form';
@import '~bulma/sass/elements/other';
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.profile-container{
  @include until($desktop + 193px) {
    width: 50%;
  }
}

.gh-username img{
  width: 32px;
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}
